.clsHome {
  h1 {
    padding: 15px 5px;
  }
}

.clsAdv {
  >h4 {
    text-align: center;
  }

  .clsSlideItem {
    background-color: black;

    img {
      height: 400px;
      width : auto;
      margin: auto;
    }

  }
  iframe {
    width: 100%;
    min-height: 350px;
  }
}
