.clsHome {
  h1 {
    padding: 15px 5px;
  }
}

.clsAdv {
  >h4 {
    text-align: center;
  }

  .clsSlideItem {
    background-color: black;
    height: 400px;
    line-height: 400px;
    vertical-align: middle;

    img {
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }

  }
  iframe {
    width: 100%;
    min-height: 350px;
  }
}
