.clsCms {
  table {
    th {
      padding: 5px 5px;
      vertical-align: middle !important;
      text-align: center;
    }
    td {
      padding: 0 5px;
      vertical-align: middle;

      .clsInput input{
        margin-top: 0;
      }
    }
  }
}
