.clsCube {
  .wrap {
    margin-top        : 90px;
    perspective       : 1000px;
    perspective-origin: 50% 50%;
    background-image  : linear-gradient(135deg, #ccc 25%, #ddd 25%, #ddd 50%, #ccc 50%, #ccc 75%, #ddd 75%, #ddd 100%);
    background-size   : 80px 80px;
    border-top        : solid 3px #999;
    border-bottom     : solid 3px #999;
    /* Background stripes animation */
    animation         : bganim 3s linear 2s infinite;
  }

  @keyframes bganim {
    from {
      background-position: 0px;
    }

    to {
      background-position: 80px;
    }
  }

  .cube {
    margin         : auto;
    position       : relative;
    height         : 200px;
    line-height    : 196px;
    width          : 200px;
    transform-style: preserve-3d;
  }

  .cube>div {
    position           : absolute;
    box-sizing         : border-box;
    height             : 100%;
    width              : 100%;
    // opacity         : 0.9;
    background-color   : #000;
    border             : solid 1px #eee;
    color              : #fff;
    transition         : transform 0.2s ease-in;
    cursor             : pointer;
    vertical-align     : middle;
  }

  .front {
    transform: translateZ(100px);
  }

  .back {
    transform: translateZ(-100px) rotateY(180deg);
  }

  .right {
    transform       : rotateY(-270deg) translateX(100px);
    transform-origin: top right;
  }

  .left {
    transform       : rotateY(270deg) translateX(-100px);
    transform-origin: center left;
  }

  .top {
    transform       : rotateX(-270deg) translateY(-100px);
    transform-origin: top center;
  }

  .bottom {
    transform       : rotateX(270deg) translateY(100px);
    transform-origin: bottom center;
  }

  @keyframes rotate {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }

    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }

  .cube {
    animation: rotate 20s infinite linear;

    .item {
      .title {
        position        : absolute;
        top             : 0;
        left            : 0;
        text-align      : center;
        width           : 100%;
        background-color: rgba(0, 0, 0, 0.753);
        line-height     : 20px;
      }

      img {
        max-width : 100%;
        max-height: 100%;
      }
    }
  }

  .wrap:hover .front {
    transform: translateZ(200px);
  }

  .wrap:hover .back {
    transform: translateZ(-200px) rotateY(180deg);
  }

  .wrap:hover .right {
    transform: rotateY(-270deg) translateZ(100px) translateX(100px);
  }

  .wrap:hover .left {
    transform: rotateY(270deg) translateZ(100px) translateX(-100px);
  }

  .wrap:hover .top {
    transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
  }

  .wrap:hover .bottom {
    transform: rotateX(270deg) translateZ(100px) translateY(100px);
  }
}
