.floatR {
  float: right;
}

.floatL {
  float: left;
}

.clearB {
  clear: both;
}

.clrBlue {
  color: #066ef6;
}

.clrWhite {
  color: white;
}

.clrBlack {
  color: black;
}

.clrGreen {
  color: #5cb85c;
}

.clrRed {
  color: #ec3169;
}

.none {
  display: none;
}

.center {
  text-align: center;
}
