.floatR {
  float: right;
}

.floatL {
  float: left;
}

.clearB {
  clear: both;
}

.clrBlue {
  color: #066ef6;
}

.clrGreen {
  color: #5cb85c;
}

.none {
  display: none;
}

.center {
  text-align: center;
}
