body {
  background : #ddd url(/images/backgound.jpg) repeat top left;
  font-family: 'Roboto Slab';
}

body>.modal-backdrop {
  display: none !important;
}

div.clsHeader {
  position: relative;
  z-index : 2;
}

div.modal {
  background: rgba(0, 0, 0, 0.5)
}

.modal-content {
  background: #ddd url(/images/backgound.jpg) repeat top left;
}

@keyframes MoveUp {
  0% {
    bottom: 0;
  }

  25% {
    bottom: 50px;
  }

  50% {
    bottom : 100px;
    opacity: .8;
  }

  75% {
    bottom : 150px;
    opacity: .7;
  }

  100% {
    bottom : 200px;
    opacity: 0;
    display: none;
  }
}

div.clsAlert {
  z-index : 9999999;
  position: relative;

  div.alert {
    position : fixed;
    right    : 0;
    bottom   : 0;
    animation: MoveUp 3s linear alternate-reverse;
  }
}

.slick-dots {
  position: unset;
  bottom  : 0;
}

#root .clsMenu.navbar {
  background-color: #83c5ea2e;
}

.clsHotline {
  position: fixed;
  bottom  : 10px;
  right   : 12px;

  a {
    text-decoration: none;
    margin         : 3px;
    color          : white;
    float          : right;
    padding        : 5px;
    clear          : both;
    font-weight    : bolder;
  }

  a.clsZalo,
  a.clsFace {
    background: -moz-radial-gradient(center, ellipse cover, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 7%, rgba(30, 87, 153, 0.87) 20%, rgba(35, 110, 182, 1) 47%, rgba(41, 137, 216, 1) 78%, rgba(41, 137, 216, 1) 80%, rgba(41, 137, 216, 1) 81%, rgba(41, 137, 216, 0.8) 92%, rgba(41, 137, 216, 0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 7%, rgba(30, 87, 153, 0.87) 20%, rgba(35, 110, 182, 1) 47%, rgba(41, 137, 216, 1) 78%, rgba(41, 137, 216, 1) 80%, rgba(41, 137, 216, 1) 81%, rgba(41, 137, 216, 0.8) 92%, rgba(41, 137, 216, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 7%, rgba(30, 87, 153, 0.87) 20%, rgba(35, 110, 182, 1) 47%, rgba(41, 137, 216, 1) 78%, rgba(41, 137, 216, 1) 80%, rgba(41, 137, 216, 1) 81%, rgba(41, 137, 216, 0.8) 92%, rgba(41, 137, 216, 0) 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#002989d8', GradientType=1);
  }

  a.clsPhone {
    color     : red;
    background: -moz-radial-gradient(center, ellipse cover, rgba(169, 228, 247, 1) 0%, rgba(30, 185, 233, 1) 90%, rgba(20, 182, 232, 0) 97%, rgba(15, 180, 231, 0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(169, 228, 247, 1) 0%, rgba(30, 185, 233, 1) 90%, rgba(20, 182, 232, 0) 97%, rgba(15, 180, 231, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(169, 228, 247, 1) 0%, rgba(30, 185, 233, 1) 90%, rgba(20, 182, 232, 0) 97%, rgba(15, 180, 231, 0) 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9e4f7', endColorstr='#000fb4e7', GradientType=1);

  }
}

.scollToHead {
  position: fixed;
  bottom: 2px;
  left: 16px;
  font-size: 35px;
  color: #066ef6;

  i {
    cursor: pointer;
  }
}
